/* $bn: dodgerblue; */
body {
  font-family:Bitstream Vera Sans,Arial,sans-serif;
}

#main {
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 600px) {
  #main {
    width: 99%;
  }
}

#map {
  border: 1px solid black;
}

.boundaries {
  stroke: black;
  stroke-width: 0.25;
}

/* default color scheme */
/* chart */
.bn-bar { background: dodgerblue }
.ph-bar { background: darkred }
.pas-bar { background: green }
.other-bar { background: gold }

/* seats */
.bn { fill: dodgerblue; }
.ph { fill: darkred;}
.pas { fill: green; }
.else { fill: gold; }

/* equal area rep */
.border { stroke: #FFFFFF; fill: none; stroke-width: 2; }
.word { font-size:16px;line-height:100%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity1;stroke:none; }

.seat{ stroke: black; }
.legend{ stroke: black; stroke-width: 2 }
.eql-state{pointer-events: none}
/* colorblind palette */
/* http://tableaufriction.blogspot.com/2012/11/finally-you-can-use-tableau-data-colors.html */
.bn-colorblind { fill: rgb(0,107,164); }
.ph-colorblind { fill: rgb(200, 82, 0); }
.pas-colorblind { fill: rgb(255, 188, 121); }
.else-colorblind { fill: rgb(207, 207, 207); }

.state {
  stroke: black; /* wip */
  stroke-width: 1;
  fill: transparent;
  pointer-events: none;
}

.selected-seat {
  /* also wip */
  stroke: orange;
}

/* hover within a path */
path.hover-map{
  stroke: salmon;
  stroke-width: 1.3;
}

path.hover-eq{
  stroke: salmon;
  stroke-width: 2;
}
