/* $bn: dodgerblue; */
body {
  font-family: Bitstream Vera Sans ,Arial ,sans-serif;
}

#bar-chart {
  margin-top: 10px;
  border: 1px solid #d5d5d5;
  width: 300px;
}

#main {
  margin: auto;
  width: 85%;
}

/* minor scaling for small screens */
@media screen and (max-width: 600px) {
  #main { width: 99%; }
  .seat { stroke-width: 2;}
}

#map {
  border: 1px solid #d5d5d5;
  display: block;
}

.seat { stroke: black; }
.legend{ stroke: black; stroke-width: 2 }
path.selected{ stroke: salmon; stroke-width: 2; }
.state { stroke: #FFFFFF; fill: none; stroke-width: 2; }

.word { font-size:14px;line-height:100%;letter-spacing:0px;word-spacing:0px;fill:#000000;stroke:none; }

/* default colour scheme */
/* chart */
.bn-chart { background: dodgerblue }
.ph-chart { background: darkred }
.pas-chart { background: green }
.other-chart { background: gold }

/* seats */
.bn { fill: dodgerblue; }
.ph { fill: darkred;}
.pas { fill: green; }
.else { fill: gold; }
/* .title { font-size: 17px;} */
/* colourblind colour scheme */
/* http://tableaufriction.blogspot.com/2012/11/finally-you-can-use-tableau-data-colors.html */
.bn-colourblind { fill: rgb(0,107,164); }
.ph-colourblind { fill: rgb(200, 82, 0); }
.pas-colourblind { fill: rgb(255, 188, 121); }
.else-colourblind { fill: rgb(207, 207, 207); }

.bn-chart-colourblind { background: rgb(0,107,164); }
.ph-chart-colourblind { background: rgb(200, 82, 0); }
.pas-chart-colourblind { background: rgb(255, 188, 121); }
.else-chart-colourblind { background: rgb(207, 207, 207); }
