<div id='derp'>
  <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
    width="600" height="320">
    <style>
      #derp {
        opacity: 0
      }
    </style>
    <g>
      <path id="canvas" d="m 0,0 600,0 0,320 -600,0 z" style="fill: rgb(255, 255, 255); stroke: none;" />
      <g id="Perlis">
        <path id="P1_Padang_Besar" class="seat" d="m 61.198,8.206 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P2_Kangar" class="seat" d="m 61.198,24.615 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P3_Arau" class="seat" d="m 75.409,16.41 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
      </g>
      <g id="Kedah">
        <path id="P4_Langkawi" class="seat" d="m 30.701,16.41 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P5_Jerlun" class="seat" d="m 75.409,32.82 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P6_Kubang_Pasu" class="seat" d="m 89.62,24.615 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P7_Padang_Terap" class="seat" d="m 103.831,32.82 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P8_Pokok_Sena" class="seat" d="m 103.831,49.23 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P9_Alor_Setar" class="seat" d="m 89.62,41.025 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P10_Kuala_Kedah" class="seat" d="m 75.409,49.23 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P11_Pendang" class="seat" d="m 118.042,57.434 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P12_Jerai" class="seat" d="m 75.409,65.639 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P13_Sik" class="seat" d="m 132.253,49.23 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P14_Merbok" class="seat" d="m 89.62,57.434 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P15_Sungai_Petani" class="seat" d="m 103.831,65.639 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P16_Baling" class="seat" d="m 132.253,65.639 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P17_Padang_Serai" class="seat" d="m 118.042,73.844 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P18_Kulim-Bandar_Baharu" class="seat" d="m 118.042,90.254 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
      </g>
      <g id="Kelantan">
        <path id="P19_Tumpat" class="seat" d="m 174.887,41.025 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P20_Pengkalan_Chepa" class="seat" d="m 189.098,49.23 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P21_Kota_Bharu" class="seat" d="m 189.098,65.639 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P22_Pasir_Mas" class="seat" d="m 203.309,73.844 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P23_Rantau_Panjang" class="seat" d="m 160.676,49.23 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P24_Kubang_Kerian" class="seat" d="m 217.52,65.639 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P25_Bachok" class="seat" d="m 203.309,57.434 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P26_Ketereh" class="seat" d="m 217.52,82.049 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P27_Tanah_Merah" class="seat" d="m 174.887,57.434 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P28_Pasir_Puteh" class="seat" d="m 231.731,90.254 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P29_Machang" class="seat" d="m 217.52,98.458 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P30_Jeli" class="seat" d="m 174.887,73.844 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P31_Kuala_Krai" class="seat" d="m 203.309,90.254 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P32_Gua_Musang" class="seat" d="m 189.098,82.049 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
      </g>
      <g id="Terengganu">
        <path id="P33_Besut" class="seat" d="m 203.309,106.663 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P34_Setiu" class="seat" d="m 217.52,114.868 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P35_Kuala_Nerus" class="seat" d="m 231.731,106.663 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P36_Kuala_Terengganu" class="seat" d="m 231.731,123.073 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P37_Marang" class="seat" d="m 231.731,139.482 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P38_Hulu_Terengganu" class="seat" d="m 217.52,131.278 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P39_Dungun" class="seat" d="m 217.52,147.687 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P40_Kemaman" class="seat" d="m 231.731,155.892 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
      </g>
      <g id="Pulau_Pinang">
        <path id="P41_Kepala_Batas" class="seat" d="m 89.62,73.844 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P42_Tasek_Gelugor" class="seat" d="m 103.831,82.049 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P43_Bagan" class="seat" d="m 75.409,82.049 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P44_Permatang_Pauh" class="seat" d="m 89.62,90.254 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P45_Bukit_Mertajam" class="seat" d="m 103.831,98.458 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P46_Batu_Kawan" class="seat" d="m 75.409,98.458 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P47_Nibong_Tebal" class="seat" d="m 89.62,106.663 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P48_Bukit_Bendera" class="seat" d="m 31.859,73.844 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P49_Tanjong" class="seat" d="m 46.07,82.049 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P50_Jelutong" class="seat" d="m 46.07,98.459 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P51_Bukit_Gelugor" class="seat" d="m 31.859,90.254 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P52_Bayan_Baru" class="seat" d="m 31.859,106.663 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P53_Balik_Pulau" class="seat" d="m 17.648,82.049 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
      </g>
      <g id="Perak">
        <path id="P54_Gerik" class="seat" d="m 146.465,57.434 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P55_Lenggong" class="seat" d="m 160.676,65.639 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P56_Larut" class="seat" d="m 146.465,73.844 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P57_Parit_Buntar" class="seat" d="m 89.62,123.073 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P58_Bagan_Serai" class="seat" d="m 103.831,114.868 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P59_Bukit_Gantang" class="seat" d="m 118.042,106.663 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P60_Taiping" class="seat" d="m 132.253,82.049 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P61_Padang_Rengas" class="seat" d="m 132.253,98.458 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P62_Sungai_Siput" class="seat" d="m 174.887,90.254 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P63_Tambun" class="seat" d="m 174.887,106.663 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P64_Ipoh_Timur" class="seat" d="m 160.676,98.458 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P65_Ipoh_Barat" class="seat" d="m 160.676,82.049 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P66_Batu_Gajah" class="seat" d="m 146.465,106.663 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P67_Kuala_Kangsar" class="seat" d="m 146.465,90.254 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P68_Beruas" class="seat" d="m 118.042,123.073 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P69_Parit" class="seat" d="m 132.253,114.868 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P70_Kampar" class="seat" d="m 160.676,114.868 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P71_Gopeng" class="seat" d="m 174.887,123.073 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P72_Tapah" class="seat" d="m 174.887,139.482 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P73_Pasir_Salak" class="seat" d="m 160.676,131.278 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P74_Lumut" class="seat" d="m 103.831,131.278 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P75_Bagan_Datok" class="seat" d="m 89.62,139.482 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P76_Telok_Intan" class="seat" d="m 132.253,131.278 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P77_Tanjung_Malim" class="seat" d="m 146.465,123.073 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
      </g>
      <g id="Pahang">
        <path id="P78_Cameron_Highlands" class="seat" d="m 189.098,98.458 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P79_Lipis" class="seat" d="m 189.098,114.868 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P80_Raub" class="seat" d="m 189.098,131.278 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P81_Jerantut" class="seat" d="m 203.309,123.073 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P82_Indera_Mahkota" class="seat" d="m 231.731,172.302 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P83_Kuantan" class="seat" d="m 231.731,188.711 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P84_Paya_Besar" class="seat" d="m 203.309,139.482 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P85_Pekan" class="seat" d="m 245.942,180.506 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P86_Maran" class="seat" d="m 203.309,155.892 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P87_Kuala_Krau" class="seat" d="m 217.52,164.097 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P88_Temerloh" class="seat" d="m 217.52,180.506 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P89_Bentong" class="seat" d="m 189.098,147.687 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P90_Bera" class="seat" d="m 203.309,172.302 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P91_Rompin" class="seat" d="m 245.942,196.916 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
      </g>
      <g id="Selangor">
        <path id="P92_Sabak_Bernam" class="seat" d="m 89.62,155.892 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P93_Sungai_Besar" class="seat" d="m 103.831,147.687 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P94_Hulu_Selangor" class="seat" d="m 132.253,147.687 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P95_Tanjong_Karang" class="seat" d="m 103.831,164.097 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P96_Kuala_Selangor" class="seat" d="m 103.831,180.506 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P97_Selayang" class="seat" d="m 118.042,139.482 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P98_Gombak" class="seat" d="m 146.465,139.482 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P99_Ampang" class="seat" d="m 160.676,147.687 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P100_Pandan" class="seat" d="m 174.887,155.892 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P101_Hulu_Langat" class="seat" d="m 203.309,188.711 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P102_Serdang" class="seat" d="m 189.098,164.097 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P103_Puchong" class="seat" d="m 189.098,180.506 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P104_Kelana_Jaya" class="seat" d="m 160.676,196.916 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P105_Petaling_Jaya_Selatan" class="seat" d="m 189.098,196.916 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P106_Petaling_Jaya_Utara" class="seat" d="m 174.887,188.711 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P107_Subang" class="seat" d="m 118.042,155.892 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P108_Shah_Alam" class="seat" d="m 160.676,213.326 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P109_Kapar" class="seat" d="m 118.042,188.711 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P110_Klang" class="seat" d="m 118.042,205.121 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P111_Kota_Raja" class="seat" d="m 146.465,221.53 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P112_Kuala_Langat" class="seat" d="m 132.253,213.326 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P113_Sepang" class="seat" d="m 132.253,229.735 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
      </g>
      <g id="WP_Kuala_Lumpur">
        <path id="P114_Kepong" class="seat" d="m 118.042,172.302 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P115_Batu" class="seat" d="m 132.253,164.097 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P116_Wangsa_Maju" class="seat" d="m 146.465,155.892 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P117_Segambut" class="seat" d="m 132.253,180.506 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P118_Setiawangsa" class="seat" d="m 160.676,164.097 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P119_Titiwangsa" class="seat" d="m 174.887,172.302 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P120_Bukit_Bintang" class="seat" d="m 146.465,172.302 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P121_Lembah_Pantai" class="seat" d="m 132.253,196.916 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P122_Seputeh" class="seat" d="m 146.465,188.711 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P123_Cheras" class="seat" d="m 160.676,180.506 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P124_Bandar_Tun_Razak" class="seat" d="m 146.465,205.121 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
      </g>
      <g id="WP_Putrajaya">
        <path id="P125_Putrajaya" class="seat" d="m 174.887,205.121 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
      </g>
      <g id="Negeri_Sembilan">
        <path id="P126_Jelebu" class="seat" d="m 203.309,205.121 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P127_Jempol" class="seat" d="m 203.309,221.53 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P128_Seremban" class="seat" d="m 174.887,221.53 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P129_Kuala_Pilah" class="seat" d="m 189.098,213.326 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P130_Rasah" class="seat" d="m 160.676,229.735 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P131_Rembau" class="seat" d="m 189.098,229.735 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P132_Telok_Kemang" class="seat" d="m 146.465,237.94 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P133_Tampin" class="seat" d="m 203.309,237.94 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
      </g>
      <g id="Melaka">
        <path id="P134_Masjid_Tanah" class="seat" d="m 160.676,246.145 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P135_Alor_Gajah" class="seat" d="m 174.887,237.94 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P136_Tangga_Batu" class="seat" d="m 174.887,254.35 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P137_Bukit_Katil" class="seat" d="m 189.098,246.145 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P138_Kota_Melaka" class="seat" d="m 189.098,262.554 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P139_Jasin" class="seat" d="m 203.309,254.35 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
      </g>
      <g id="Johor">
        <path id="P140_Segamat" class="seat" d="m 217.52,262.554 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P141_Sekijang" class="seat" d="m 217.52,246.145 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P142_Labis" class="seat" d="m 217.52,196.916 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P143_Pagoh" class="seat" d="m 217.52,213.326 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P144_Ledang" class="seat" d="m 203.309,270.759 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P145_Bakri" class="seat" d="m 217.52,229.735 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P146_Muar" class="seat" d="m 217.52,278.964 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P147_Parit_Sulong" class="seat" d="m 231.731,237.94 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P148_Ayer_Hitam" class="seat" d="m 245.942,262.554 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P149_Sri_Gading" class="seat" d="m 231.731,254.35 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P150_Batu_Pahat" class="seat" d="m 231.731,270.759 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P151_Simpang_Renggam" class="seat" d="m 245.942,229.735 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P152_Kluang" class="seat" d="m 231.731,221.53 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P153_Sembrong" class="seat" d="m 231.731,205.121 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P154_Mersing" class="seat" d="m 245.942,213.326 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P155_Tenggara" class="seat" d="m 260.154,254.35 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P156_Kota_Tinggi" class="seat" d="m 260.154,237.94 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P157_Pengerang" class="seat" d="m 288.576,287.169 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P158_Tebrau" class="seat" d="m 274.365,262.554 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P159_Pasir_Gudang" class="seat" d="m 274.365,278.964 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P160_Johor_Bahru" class="seat" d="m 260.154,287.169 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P161_Pulai" class="seat" d="m 260.154,270.759 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P162_Gelang_Patah" class="seat" d="m 245.942,278.964 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P163_Kulai" class="seat" d="m 245.942,246.145 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P164_Pontian" class="seat" d="m 231.731,287.169 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P165_Tanjong_Piai" class="seat" d="m 245.942,295.374 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
      </g>
      <g id="WP_Labuan">
        <path id="P166_Labuan" class="seat" d="m 442.923,176.764 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
      </g>
      <g id="Sabah">
        <path id="P167_Kudat" class="seat" d="m 515.017,160.164 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P168_Kota_Marudu" class="seat" d="m 529.229,151.959 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P169_Kota_Belud" class="seat" d="m 500.806,151.959 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P170_Tuaran" class="seat" d="m 515.017,176.573 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P171_Sepanggar" class="seat" d="m 500.806,168.369 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P172_Kota_Kinabalu" class="seat" d="m 500.806,184.778 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P173_Putatan" class="seat" d="m 486.595,176.573 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P174_Penampang" class="seat" d="m 486.595,192.983 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P175_Papar" class="seat" d="m 500.806,201.188 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P176_Kimanis" class="seat" d="m 472.384,184.778 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P177_Beaufort" class="seat" d="m 472.384,201.188 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P178_Sipitang" class="seat" d="m 486.595,209.392 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P179_Ranau" class="seat" d="m 529.229,168.369 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P180_Keningau" class="seat" d="m 515.017,192.983 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P181_Tenom" class="seat" d="m 500.806,217.597 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P182_Pensiangan" class="seat" d="m 515.017,209.392 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P183_Beluran" class="seat" d="m 543.44,160.164 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P184_Libaran" class="seat" d="m 557.651,168.369 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P185_Batu_Sapi" class="seat" d="m 543.44,176.573 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P186_Sandakan" class="seat" d="m 571.862,176.573 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P187_Kinabatangan" class="seat" d="m 529.229,184.778 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P188_Silam" class="seat" d="m 529.229,201.188 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P189_Semporna" class="seat" d="m 557.651,217.597 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P190_Tawau" class="seat" d="m 543.44,209.392 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P191_Kalabakan" class="seat" d="m 529.229,217.597 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
      </g>
      <g id="Sarawak">
        <path id="P192_Mas_Gading" class="seat" d="m 358.695,283.236 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P193_Santubong" class="seat" d="m 344.484,275.031 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P194_Petra_Jaya" class="seat" d="m 372.906,275.031 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P195_Bandar_Kuching" class="seat" d="m 401.329,275.031 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P196_Stampin" class="seat" d="m 387.117,266.826 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P197_Kota_Samarahan" class="seat" d="m 401.329,258.621 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P198_Mambong" class="seat" d="m 372.906,291.44 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P199_Serian" class="seat" d="m 387.117,283.236 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P200_Batang_Sadong" class="seat" d="m 415.54,266.826 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P201_Batang_Lupar" class="seat" d="m 415.54,250.416 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P202_Sri_Aman" class="seat" d="m 401.329,291.44 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P203_Lubok_Antu" class="seat" d="m 429.751,291.44 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P204_Betong" class="seat" d="m 415.54,283.236 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P205_Saratok" class="seat" d="m 429.751,258.621 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P206_Tanjong_Manis" class="seat" d="m 415.54,234.007 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P207_Igan" class="seat" d="m 443.962,250.416 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P208_Sarikei" class="seat" d="m 429.751,275.031 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P209_Julau" class="seat" d="m 458.173,258.621 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P210_Kanowit" class="seat" d="m 472.384,250.416 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P211_Lanang" class="seat" d="m 458.173,242.212 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P212_Sibu" class="seat" d="m 443.962,266.826 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P213_Mukah" class="seat" d="m 429.751,242.212 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P214_Selangau" class="seat" d="m 472.384,234.007 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P215_Kapit" class="seat" d="m 443.962,283.236 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P216_Hulu_Rajang" class="seat" d="m 458.173,275.031 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P217_Bintulu" class="seat" d="m 443.962,234.007 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P218_Sibuti" class="seat" d="m 443.962,217.597 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P219_Miri" class="seat" d="m 458.173,225.802 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P220_Baram" class="seat" d="m 485.595,242.212 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
        <path id="P221_Limbang" class="seat" d="m 472.384,217.597 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="P222_Lawas" class="seat" d="m 486.595,225.802 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z" />
      </g>
      <g id="borders">
        <path id="perlis-b" class="border" d="m 70.672,41.024 4.75,-8.21875 9.46875,0 4.71875,-8.1875" />
        <path id="kedah-b" class="border" d="m 89.62,123.073 9.46875,0 4.75,-8.21875 9.46875,0 4.75,-8.21875 9.46875,0 4.75,-8.1875 -4.75,-8.21875 4.75,-8.21875 9.46875,0 4.71875,-8.1875 -4.71875,-8.21875 4.71875,-8.1875"
        />
        <path id="kelantan-b" class="border" d="m 155.931,57.416 4.75,8.2193 9.46875,0 4.71875,8.1875 -4.71875,8.2187 4.71875,8.21875 9.5,0 4.71875,8.187502 9.46875,0 4.75,8.21875 9.46875,0 4.75,8.1875 9.46875,0 4.75,-8.1875 9.46875,0"
        />
        <path id="terengganu-b" class="border" d="m 203.323,106.656 -4.7182,8.2195 4.71875,8.1875 9.46875,0 4.75,8.21875 -4.75,8.1875 4.75,8.21875 -4.75,8.1875 4.75,8.21875 9.46875,0 4.75,8.1875 9.46875,0"
        />
        <path id="pinang-b" class="border" d="m 118.039,106.642 -4.75,-8.1875 4.75,-8.21875 -4.75,-8.1875 -9.46875,0 -4.75,-8.21875 -9.46875,0 -4.71875,8.21875 -9.46875,0"
        />
        <path id="perak-b" class="border" d="m 89.62,155.888 9.5,0 4.71875,-8.21875 9.46874,0 4.75,-8.1875 9.46875,0 4.75,8.1875 9.46875,0 4.71875,-8.1875 9.5,0 4.71875,8.1875 9.46875,0 4.75,8.21875 9.46875,0"
        />
        <path id="pahang-b" class="border" d="m 189.098,98.44 -4.75,8.21875 4.75,8.21875 -4.75,8.1875 4.75,8.21875 -4.75,8.1875 4.75,8.21875 -4.75,8.1875 4.75,8.21875 9.46875,0 4.75,8.1875 -4.75,8.21875 4.75,8.21875 9.46875,0 4.71875,8.1875 9.5,0 4.71875,8.21875 9.46875,0 4.75,8.1875 9.46875,0"
        />
        <path id="selangor-b" class="border" d="m 141.719,246.144 4.71875,-8.218 9.5,0 4.71875,-8.1875 9.46875,0 4.75,-8.21875 9.46875,0 4.75,-8.21875 9.46875,0 4.71875,-8.1875 9.5,0 4.71875,-8.21875"
        />
        <path id="sembilan-b" class="border" d="m 198.578,278.952 4.75,-8.218 9.46875,0 4.723,-8.18 -4.723,-8.226 4.7116,-8.1836 -4.71875,-8.1875 4.71875,-8.21875 -4.71875,-8.1875 4.71875,-8.21875 -4.71875,-8.1875"
        />
        <path id="melaka-b" class="border" d="m 212.8,254.366 -9.46875,0 -4.75,-8.21875 -9.46875,0 -4.75,-8.1875 -9.46875,0 -4.75,8.1875 -9.46875,0 -4.71875,8.21875"
        />
        <path id="wpkl-b" class="border_wp" d="m 146.48,155.867 -4.75,8.21875 -9.46875,0 -4.75,8.1875 -9.46875,0 -4.75,8.21875 4.75,8.21875 9.46875,0 4.75,8.1875 -4.75,8.21875 4.75,8.1875 9.46875,0 4.75,8.21875 9.46875,0 4.71875,-8.21875 -4.71875,-8.1875 4.71875,-8.21875 9.46875,0 4.75,-8.1875 9.46875,0 4.75,-8.21875 -4.75,-8.21875 -9.46875,0 -4.75,-8.1875 -9.46875,0 -4.71875,-8.21875 -9.46875,0 z"
        />
        <path id="wppj-b" class="border_wp" d="m 189.111,213.339 -4.75,-8.21875 -9.46875,0 -4.71875,8.21875 4.7134,8.19085 9.46875,0 4.71875,-8.21875"
        />
        <path id="sabsar-b" class="border" d="m 472.366,217.607 9.46875,0 4.75,8.1875 9.46875,0 4.75,8.21875" />
      </g>
      <g id="Legend">
        <path id="legend-ph" data-party='ph' class="legend ph" d="m 310,52 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="legend-bn" data-party='bn' class="legend bn" d="m 310,74 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="legend-pas" data-party='pas' class="legend pas" d="m 310,96 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <path id="legend-ind" data-party='else' class="legend else" d="m 310,118 9.4741,0 4.737,8.2047 -4.737,8.2047 -9.4741,0 -4.737,-8.2047 z"
        />
        <text x="332" y="65" id="ltxt1" xml:space="preserve" class="word">PH</text>
        <text x="332" y="87" id="ltxt2" xml:space="preserve" class="word">BN</text>
        <text x="332" y="109" id="ltxt3" xml:space="preserve" class="word">PAS</text>
        <text x="332" y="131" id="ltxt4" xml:space="preserve" class="word">STAR</text>
        <text x="240" y="22.5" id="title1" xml:space="preserve" class="word">Dewan Rakyat results of the 2018 Malaysian</text>
        <text x="240" y="40" id="title2" xml:space="preserve" class="word">General Election (equal-area representation)</text>
      </g>
    </g>
  </svg>
</div>
