<svg version="1.1" viewbox="0 0 441.5 471.01500000000004" id='test' xmlns="http://www.w3.org/2000/svg" height='500' width='450'>
  <polygon id="054" points="154,93.94228634059948 161.5,89.61215932167728 169,93.94228634059948 169,102.60254037844386 161.5,106.93266739736606 154,102.60254037844386"
  />
  <polygon id="055" points="122,121.92304845413264 129.5,117.59292143521044 137,121.92304845413264 137,130.58330249197704 129.5,134.91342951089922 122,130.58330249197704"
  />
  <polygon id="056" points="90,121.92304845413264 97.5,117.59292143521044 105,121.92304845413264 105,130.58330249197704 97.5,134.91342951089922 90,130.58330249197704"
  />
  <polygon id="058" points="81.5,135.91342951089922 89.0,131.58330249197704 96.5,135.91342951089922 96.5,144.57368354874362 89.0,148.9038105676658 81.5,144.57368354874362"
  />
  <polygon id="057" points="65.5,135.91342951089922 73.0,131.58330249197704 80.5,135.91342951089922 80.5,144.57368354874362 73.0,148.9038105676658 65.5,144.57368354874362"
  />
  <polygon id="062" points="138,149.9038105676658 145.5,145.57368354874362 153,149.9038105676658 153,158.5640646055102 145.5,162.89419162443238 138,158.5640646055102"
  />
  <polygon id="061" points="106,149.9038105676658 113.5,145.57368354874362 121,149.9038105676658 121,158.5640646055102 113.5,162.89419162443238 106,158.5640646055102"
  />
  <polygon id="060" points="90,149.9038105676658 97.5,145.57368354874362 105,149.9038105676658 105,158.5640646055102 97.5,162.89419162443238 90,158.5640646055102"
  />
  <polygon id="059" points="97.5,163.89419162443238 105.0,159.5640646055102 112.5,163.89419162443238 112.5,172.55444566227678 105.0,176.88457268119896 97.5,172.55444566227678"
  />
  <polygon id="067" points="113.5,163.89419162443238 121.0,159.5640646055102 128.5,163.89419162443238 128.5,172.55444566227678 121.0,176.88457268119896 113.5,172.55444566227678"
  />
  <polygon id="063" points="129.5,163.89419162443238 137.0,159.5640646055102 144.5,163.89419162443238 144.5,172.55444566227678 137.0,176.88457268119896 129.5,172.55444566227678"
  />
  <polygon id="065" points="122,177.88457268119896 129.5,173.55444566227678 137,177.88457268119896 137,186.54482671904336 129.5,190.87495373796554 122,186.54482671904336"
  />
  <polygon id="064" points="145.5,191.87495373796554 153.0,187.54482671904336 160.5,191.87495373796554 160.5,200.53520777580994 153.0,204.86533479473212 145.5,200.53520777580994"
  />
  <polygon id="066" points="113.5,191.87495373796554 121.0,187.54482671904336 128.5,191.87495373796554 128.5,200.53520777580994 121.0,204.86533479473212 113.5,200.53520777580994"
  />
  <polygon id="069" points="122,205.86533479473212 129.5,201.53520777580994 137,205.86533479473212 137,214.52558883257652 129.5,218.8557158514987 122,214.52558883257652"
  />
  <polygon id="068" points="97.5,191.87495373796554 105.0,187.54482671904336 112.5,191.87495373796554 112.5,200.53520777580994 105.0,204.86533479473212 97.5,200.53520777580994"
  />
  <polygon id="071" points="138,177.88457268119896 145.5,173.55444566227678 153,177.88457268119896 153,186.54482671904336 145.5,190.87495373796554 138,186.54482671904336"
  />
  <polygon id="070" points="129.5,191.87495373796554 137.0,187.54482671904336 144.5,191.87495373796554 144.5,200.53520777580994 137.0,204.86533479473212 129.5,200.53520777580994"
  />
  <polygon id="072" points="138,205.86533479473212 145.5,201.53520777580994 153,205.86533479473212 153,214.52558883257652 145.5,218.8557158514987 138,214.52558883257652"
  />
  <polygon id="077" points="154,233.84609690826528 161.5,229.5159698893431 169,233.84609690826528 169,242.50635094610968 161.5,246.83647796503186 154,242.50635094610968"
  />
  <polygon id="073" points="113.5,219.8557158514987 121.0,215.52558883257652 128.5,219.8557158514987 128.5,228.5159698893431 121.0,232.84609690826528 113.5,228.5159698893431"
  />
  <polygon id="074" points="90,205.86533479473212 97.5,201.53520777580994 105,205.86533479473212 105,214.52558883257652 97.5,218.8557158514987 90,214.52558883257652"
  />
  <polygon id="075" points="106,233.84609690826528 113.5,229.5159698893431 121,233.84609690826528 121,242.50635094610968 113.5,246.83647796503186 106,242.50635094610968"
  />
  <polygon id="076" points="122,233.84609690826528 129.5,229.5159698893431 137,233.84609690826528 137,242.50635094610968 129.5,246.83647796503186 122,242.50635094610968"
  />
  <polygon id="047" points="58,121.92304845413264 65.5,117.59292143521044 73,121.92304845413264 73,130.58330249197704 65.5,134.91342951089922 58,130.58330249197704"
  />
  <polygon id="046" points="49.5,135.91342951089922 57.0,131.58330249197704 64.5,135.91342951089922 64.5,144.57368354874362 57.0,148.9038105676658 49.5,144.57368354874362"
  />
  <polygon id="045" points="42,121.92304845413264 49.5,117.59292143521044 57,121.92304845413264 57,130.58330249197704 49.5,134.91342951089922 42,130.58330249197704"
  />
  <polygon id="042" points="49.5,79.9519052838329 57.0,75.6217782649107 64.5,79.9519052838329 64.5,88.61215932167728 57.0,92.94228634059948 49.5,88.61215932167728"
  />
  <polygon id="043" points="97.5,107.93266739736606 105.0,103.60254037844386 112.5,107.93266739736606 112.5,116.59292143521044 105.0,120.92304845413264 97.5,116.59292143521044"
  />
  <polygon id="044" points="65.5,107.93266739736606 73.0,103.60254037844386 80.5,107.93266739736606 80.5,116.59292143521044 73.0,120.92304845413264 65.5,116.59292143521044"
  />
  <polygon id="041" points="42,93.94228634059948 49.5,89.61215932167728 57,93.94228634059948 57,102.60254037844386 49.5,106.93266739736606 42,102.60254037844386"
  />
  <polygon id="052" points="33.5,107.93266739736606 41.0,103.60254037844386 48.5,107.93266739736606 48.5,116.59292143521044 41.0,120.92304845413264 33.5,116.59292143521044"
  />
  <polygon id="050" points="26,93.94228634059948 33.5,89.61215932167728 41,93.94228634059948 41,102.60254037844386 33.5,106.93266739736606 26,102.60254037844386"
  />
  <polygon id="051" points="26,121.92304845413264 33.5,117.59292143521044 41,121.92304845413264 41,130.58330249197704 33.5,134.91342951089922 26,130.58330249197704"
  />
  <polygon id="048" points="49.5,107.93266739736606 57.0,103.60254037844386 64.5,107.93266739736606 64.5,116.59292143521044 57.0,120.92304845413264 49.5,116.59292143521044"
  />
  <polygon id="049" points="113.5,107.93266739736606 121.0,103.60254037844386 128.5,107.93266739736606 128.5,116.59292143521044 121.0,120.92304845413264 113.5,116.59292143521044"
  />
  <polygon id="053" points="81.5,107.93266739736606 89.0,103.60254037844386 96.5,107.93266739736606 96.5,116.59292143521044 89.0,120.92304845413264 81.5,116.59292143521044"
  />
  <polygon id="018" points="74,121.92304845413264 81.5,117.59292143521044 89,121.92304845413264 89,130.58330249197704 81.5,134.91342951089922 74,130.58330249197704"
  />
  <polygon id="017" points="74,93.94228634059948 81.5,89.61215932167728 89,93.94228634059948 89,102.60254037844386 81.5,106.93266739736606 74,102.60254037844386"
  />
  <polygon id="015" points="58,93.94228634059948 65.5,89.61215932167728 73,93.94228634059948 73,102.60254037844386 65.5,106.93266739736606 58,102.60254037844386"
  />
  <polygon id="016" points="113.5,79.9519052838329 121.0,75.6217782649107 128.5,79.9519052838329 128.5,88.61215932167728 121.0,92.94228634059948 113.5,88.61215932167728"
  />
  <polygon id="013" points="113.5,51.97114317029974 121.0,47.64101615137755 128.5,51.97114317029974 128.5,60.63139720814413 121.0,64.96152422706632 113.5,60.63139720814413"
  />
  <polygon id="014" points="81.5,79.9519052838329 89.0,75.6217782649107 96.5,79.9519052838329 96.5,88.61215932167728 89.0,92.94228634059948 81.5,88.61215932167728"
  />
  <polygon id="012" points="58,65.96152422706632 65.5,61.63139720814413 73,65.96152422706632 73,74.6217782649107 65.5,78.9519052838329 58,74.6217782649107"
  />
  <polygon id="007" points="97.5,23.99038105676658 105.0,19.660254037844386 112.5,23.99038105676658 112.5,32.65063509461097 105.0,36.98076211353316 97.5,32.65063509461097"
  />
  <polygon id="011" points="81.5,51.97114317029974 89.0,47.64101615137755 96.5,51.97114317029974 96.5,60.63139720814413 89.0,64.96152422706632 81.5,60.63139720814413"
  />
  <polygon id="008" points="74,37.98076211353316 81.5,33.65063509461097 89,37.98076211353316 89,46.64101615137755 81.5,50.97114317029974 74,46.64101615137755"
  />
  <polygon id="010" points="58,37.98076211353316 65.5,33.65063509461097 73,37.98076211353316 73,46.64101615137755 65.5,50.97114317029974 58,46.64101615137755"
  />
  <polygon id="009" points="65.5,51.97114317029974 73.0,47.64101615137755 80.5,51.97114317029974 80.5,60.63139720814413 73.0,64.96152422706632 65.5,60.63139720814413"
  />
  <polygon id="006" points="65.5,23.99038105676658 73.0,19.660254037844386 80.5,23.99038105676658 80.5,32.65063509461097 73.0,36.98076211353316 65.5,32.65063509461097"
  />
  <polygon id="005" points="33.5,23.99038105676658 41.0,19.660254037844386 48.5,23.99038105676658 48.5,32.65063509461097 41.0,36.98076211353316 33.5,32.65063509461097"
  />
  <polygon id="002" points="42,10.0 49.5,5.669872981077806 57,10.0 57,18.66025403784439 49.5,22.99038105676658 42,18.66025403784439"
  />
  <polygon id="003" points="49.5,23.99038105676658 57.0,19.660254037844386 64.5,23.99038105676658 64.5,32.65063509461097 57.0,36.98076211353316 49.5,32.65063509461097"
  />
  <polygon id="001" points="58,10.0 65.5,5.669872981077806 73,10.0 73,18.66025403784439 65.5,22.99038105676658 58,18.66025403784439"
  />
  <polygon id="004" points="17.5,23.99038105676658 25.0,19.660254037844386 32.5,23.99038105676658 32.5,32.65063509461097 25.0,36.98076211353316 17.5,32.65063509461097"
  />
  <polygon id="030" points="186,93.94228634059948 193.5,89.61215932167728 201,93.94228634059948 201,102.60254037844386 193.5,106.93266739736606 186,102.60254037844386"
  />
  <polygon id="032" points="202,149.9038105676658 209.5,145.57368354874362 217,149.9038105676658 217,158.5640646055102 209.5,162.89419162443238 202,158.5640646055102"
  />
  <polygon id="031" points="257.5,107.93266739736606 265.0,103.60254037844386 272.5,107.93266739736606 272.5,116.59292143521044 265.0,120.92304845413264 257.5,116.59292143521044"
  />
  <polygon id="027" points="209.5,79.9519052838329 217.0,75.6217782649107 224.5,79.9519052838329 224.5,88.61215932167728 217.0,92.94228634059948 209.5,88.61215932167728"
  />
  <polygon id="029" points="241.5,79.9519052838329 249.0,75.6217782649107 256.5,79.9519052838329 256.5,88.61215932167728 249.0,92.94228634059948 241.5,88.61215932167728"
  />
  <polygon id="028" points="234,65.96152422706632 241.5,61.63139720814413 249,65.96152422706632 249,74.6217782649107 241.5,78.9519052838329 234,74.6217782649107"
  />
  <polygon id="023" points="225.5,51.97114317029974 233.0,47.64101615137755 240.5,51.97114317029974 240.5,60.63139720814413 233.0,64.96152422706632 225.5,60.63139720814413"
  />
  <polygon id="026" points="257.5,51.97114317029974 265.0,47.64101615137755 272.5,51.97114317029974 272.5,60.63139720814413 265.0,64.96152422706632 257.5,60.63139720814413"
  />
  <polygon id="024" points="241.5,51.97114317029974 249.0,47.64101615137755 256.5,51.97114317029974 256.5,60.63139720814413 249.0,64.96152422706632 241.5,60.63139720814413"
  />
  <polygon id="022" points="209.5,51.97114317029974 217.0,47.64101615137755 224.5,51.97114317029974 224.5,60.63139720814413 217.0,64.96152422706632 209.5,60.63139720814413"
  />
  <polygon id="019" points="218,37.98076211353316 225.5,33.65063509461097 233,37.98076211353316 233,46.64101615137755 225.5,50.97114317029974 218,46.64101615137755"
  />
  <polygon id="020" points="250,37.98076211353316 257.5,33.65063509461097 265,37.98076211353316 265,46.64101615137755 257.5,50.97114317029974 250,46.64101615137755"
  />
  <polygon id="021" points="234,37.98076211353316 241.5,33.65063509461097 249,37.98076211353316 249,46.64101615137755 241.5,50.97114317029974 234,46.64101615137755"
  />
  <polygon id="025" points="250,65.96152422706632 257.5,61.63139720814413 265,65.96152422706632 265,74.6217782649107 257.5,78.9519052838329 250,74.6217782649107"
  />
  <polygon id="033" points="250,93.94228634059948 257.5,89.61215932167728 265,93.94228634059948 265,102.60254037844386 257.5,106.93266739736606 250,102.60254037844386"
  />
  <polygon id="034" points="282,93.94228634059948 289.5,89.61215932167728 297,93.94228634059948 297,102.60254037844386 289.5,106.93266739736606 282,102.60254037844386"
  />
  <polygon id="035" points="337.5,107.93266739736606 345.0,103.60254037844386 352.5,107.93266739736606 352.5,116.59292143521044 345.0,120.92304845413264 337.5,116.59292143521044"
  />
  <polygon id="038" points="289.5,135.91342951089922 297.0,131.58330249197704 304.5,135.91342951089922 304.5,144.57368354874362 297.0,148.9038105676658 289.5,144.57368354874362"
  />
  <polygon id="036" points="314,121.92304845413264 321.5,117.59292143521044 329,121.92304845413264 329,130.58330249197704 321.5,134.91342951089922 314,130.58330249197704"
  />
  <polygon id="037" points="321.5,135.91342951089922 329.0,131.58330249197704 336.5,135.91342951089922 336.5,144.57368354874362 329.0,148.9038105676658 321.5,144.57368354874362"
  />
  <polygon id="039" points="321.5,163.89419162443238 329.0,159.5640646055102 336.5,163.89419162443238 336.5,172.55444566227678 329.0,176.88457268119896 321.5,172.55444566227678"
  />
  <polygon id="040" points="314,205.86533479473212 321.5,201.53520777580994 329,205.86533479473212 329,214.52558883257652 321.5,218.8557158514987 314,214.52558883257652"
  />
  <polygon id="078" points="177.5,191.87495373796554 185.0,187.54482671904336 192.5,191.87495373796554 192.5,200.53520777580994 185.0,204.86533479473212 177.5,200.53520777580994"
  />
  <polygon id="079" points="225.5,191.87495373796554 233.0,187.54482671904336 240.5,191.87495373796554 240.5,200.53520777580994 233.0,204.86533479473212 225.5,200.53520777580994"
  />
  <polygon id="081" points="250,205.86533479473212 257.5,201.53520777580994 265,205.86533479473212 265,214.52558883257652 257.5,218.8557158514987 250,214.52558883257652"
  />
  <polygon id="080" points="193.5,247.83647796503186 201.0,243.50635094610968 208.5,247.83647796503186 208.5,256.49673200287623 201.0,260.82685902179844 193.5,256.49673200287623"
  />
  <polygon id="082" points="330,233.84609690826528 337.5,229.5159698893431 345,233.84609690826528 345,242.50635094610968 337.5,246.83647796503186 330,242.50635094610968"
  />
  <polygon id="084" points="298,233.84609690826528 305.5,229.5159698893431 313,233.84609690826528 313,242.50635094610968 305.5,246.83647796503186 298,242.50635094610968"
  />
  <polygon id="083" points="337.5,247.83647796503186 345.0,243.50635094610968 352.5,247.83647796503186 352.5,256.49673200287623 345.0,260.82685902179844 337.5,256.49673200287623"
  />
  <polygon id="089" points="209.5,275.817240078565 217.0,271.4871130596428 224.5,275.817240078565 224.5,284.4774941164094 217.0,288.8076211353316 209.5,284.4774941164094"
  />
  <polygon id="088" points="241.5,275.817240078565 249.0,271.4871130596428 256.5,275.817240078565 256.5,284.4774941164094 249.0,288.8076211353316 241.5,284.4774941164094"
  />
  <polygon id="087" points="234,261.82685902179844 241.5,257.49673200287623 249,261.82685902179844 249,270.4871130596428 241.5,274.817240078565 234,270.4871130596428"
  />
  <polygon id="086" points="266,261.82685902179844 273.5,257.49673200287623 281,261.82685902179844 281,270.4871130596428 273.5,274.817240078565 266,270.4871130596428"
  />
  <polygon id="090" points="385.5,303.7980021920982 393.0,299.46787517317597 400.5,303.7980021920982 400.5,312.45825622994255 393.0,316.78838324886476 385.5,312.45825622994255"
  />
  <polygon id="085" points="314,289.8076211353316 321.5,285.4774941164094 329,289.8076211353316 329,298.46787517317597 321.5,302.7980021920982 314,298.46787517317597"
  />
  <polygon id="091" points="321.5,331.77876430563134 329.0,327.44863728670913 336.5,331.77876430563134 336.5,340.4390183434757 329.0,344.7691453623979 321.5,340.4390183434757"
  />
  <polygon id="154" points="362,373.7499074759311 369.5,369.41978045700887 377,373.7499074759311 377,382.41016151377545 369.5,386.74028853269766 362,382.41016151377545"
  />
  <polygon id="157" points="417.5,443.701812759764 425.0,439.37168574084177 432.5,443.701812759764 432.5,452.36206679760835 425.0,456.69219381653056 417.5,452.36206679760835"
  />
  <polygon id="156" points="401.5,415.7210506462308 409.0,411.3909236273086 416.5,415.7210506462308 416.5,424.3813046840752 409.0,428.7114317029974 401.5,424.3813046840752"
  />
  <polygon id="158" points="401.5,443.701812759764 409.0,439.37168574084177 416.5,443.701812759764 416.5,452.36206679760835 409.0,456.69219381653056 401.5,452.36206679760835"
  />
  <polygon id="159" points="385.5,443.701812759764 393.0,439.37168574084177 400.5,443.701812759764 400.5,452.36206679760835 393.0,456.69219381653056 385.5,452.36206679760835"
  />
  <polygon id="161" points="378,457.69219381653056 385.5,453.36206679760835 393,457.69219381653056 393,466.35244785437493 385.5,470.68257487329714 378,466.35244785437493"
  />
  <polygon id="160" points="369.5,443.701812759764 377.0,439.37168574084177 384.5,443.701812759764 384.5,452.36206679760835 377.0,456.69219381653056 369.5,452.36206679760835"
  />
  <polygon id="165" points="346,457.69219381653056 353.5,453.36206679760835 361,457.69219381653056 361,466.35244785437493 353.5,470.68257487329714 346,466.35244785437493"
  />
  <polygon id="162" points="353.5,443.701812759764 361.0,439.37168574084177 368.5,443.701812759764 368.5,452.36206679760835 361.0,456.69219381653056 353.5,452.36206679760835"
  />
  <polygon id="155" points="369.5,415.7210506462308 377.0,411.3909236273086 384.5,415.7210506462308 384.5,424.3813046840752 377.0,428.7114317029974 369.5,424.3813046840752"
  />
  <polygon id="151" points="337.5,415.7210506462308 345.0,411.3909236273086 352.5,415.7210506462308 352.5,424.3813046840752 345.0,428.7114317029974 337.5,424.3813046840752"
  />
  <polygon id="164" points="330,429.7114317029974 337.5,425.3813046840752 345,429.7114317029974 345,438.37168574084177 337.5,442.701812759764 330,438.37168574084177"
  />
  <polygon id="163" points="346,429.7114317029974 353.5,425.3813046840752 361,429.7114317029974 361,438.37168574084177 353.5,442.701812759764 346,438.37168574084177"
  />
  <polygon id="153" points="337.5,387.74028853269766 345.0,383.41016151377545 352.5,387.74028853269766 352.5,396.40054257054203 345.0,400.73066958946424 337.5,396.40054257054203"
  />
  <polygon id="152" points="330,401.73066958946424 337.5,397.40054257054203 345,401.73066958946424 345,410.3909236273086 337.5,414.7210506462308 330,410.3909236273086"
  />
  <polygon id="147" points="282,401.73066958946424 289.5,397.40054257054203 297,401.73066958946424 297,410.3909236273086 289.5,414.7210506462308 282,410.3909236273086"
  />
  <polygon id="149" points="305.5,415.7210506462308 313.0,411.3909236273086 320.5,415.7210506462308 320.5,424.3813046840752 313.0,428.7114317029974 305.5,424.3813046840752"
  />
  <polygon id="150" points="298,429.7114317029974 305.5,425.3813046840752 313,429.7114317029974 313,438.37168574084177 305.5,442.701812759764 298,438.37168574084177"
  />
  <polygon id="148" points="298,401.73066958946424 305.5,397.40054257054203 313,401.73066958946424 313,410.3909236273086 305.5,414.7210506462308 298,410.3909236273086"
  />
  <polygon id="142" points="314,373.7499074759311 321.5,369.41978045700887 329,373.7499074759311 329,382.41016151377545 321.5,386.74028853269766 314,382.41016151377545"
  />
  <polygon id="145" points="266,401.73066958946424 273.5,397.40054257054203 281,401.73066958946424 281,410.3909236273086 273.5,414.7210506462308 266,410.3909236273086"
  />
  <polygon id="146" points="289.5,415.7210506462308 297.0,411.3909236273086 304.5,415.7210506462308 304.5,424.3813046840752 297.0,428.7114317029974 289.5,424.3813046840752"
  />
  <polygon id="144" points="273.5,387.74028853269766 281.0,383.41016151377545 288.5,387.74028853269766 288.5,396.40054257054203 281.0,400.73066958946424 273.5,396.40054257054203"
  />
  <polygon id="143" points="289.5,387.74028853269766 297.0,383.41016151377545 304.5,387.74028853269766 304.5,396.40054257054203 297.0,400.73066958946424 289.5,396.40054257054203"
  />
  <polygon id="141" points="289.5,359.7595264191645 297.0,355.4293994002423 304.5,359.7595264191645 304.5,368.41978045700887 297.0,372.7499074759311 289.5,368.41978045700887"
  />
  <polygon id="140" points="266,345.7691453623979 273.5,341.4390183434757 281,345.7691453623979 281,354.4293994002423 273.5,358.7595264191645 266,354.4293994002423"
  />
  <polygon id="135" points="234,373.7499074759311 241.5,369.41978045700887 249,373.7499074759311 249,382.41016151377545 241.5,386.74028853269766 234,382.41016151377545"
  />
  <polygon id="139" points="257.5,387.74028853269766 265.0,383.41016151377545 272.5,387.74028853269766 272.5,396.40054257054203 265.0,400.73066958946424 257.5,396.40054257054203"
  />
  <polygon id="134" points="218,373.7499074759311 225.5,369.41978045700887 233,373.7499074759311 233,382.41016151377545 225.5,386.74028853269766 218,382.41016151377545"
  />
  <polygon id="138" points="250,401.73066958946424 257.5,397.40054257054203 265,401.73066958946424 265,410.3909236273086 257.5,414.7210506462308 250,410.3909236273086"
  />
  <polygon id="137" points="241.5,387.74028853269766 249.0,383.41016151377545 256.5,387.74028853269766 256.5,396.40054257054203 249.0,400.73066958946424 241.5,396.40054257054203"
  />
  <polygon id="136" points="241.5,359.7595264191645 249.0,355.4293994002423 256.5,359.7595264191645 256.5,368.41978045700887 249.0,372.7499074759311 241.5,368.41978045700887"
  />
  <polygon id="133" points="257.5,359.7595264191645 265.0,355.4293994002423 272.5,359.7595264191645 272.5,368.41978045700887 265.0,372.7499074759311 257.5,368.41978045700887"
  />
  <polygon id="127" points="257.5,331.77876430563134 265.0,327.44863728670913 272.5,331.77876430563134 272.5,340.4390183434757 265.0,344.7691453623979 257.5,340.4390183434757"
  />
  <polygon id="126" points="234,317.78838324886476 241.5,313.45825622994255 249,317.78838324886476 249,326.44863728670913 241.5,330.77876430563134 234,326.44863728670913"
  />
  <polygon id="129" points="218,345.7691453623979 225.5,341.4390183434757 233,345.7691453623979 233,354.4293994002423 225.5,358.7595264191645 218,354.4293994002423"
  />
  <polygon id="131" points="202,345.7691453623979 209.5,341.4390183434757 217,345.7691453623979 217,354.4293994002423 209.5,358.7595264191645 202,354.4293994002423"
  />
  <polygon id="128" points="209.5,331.77876430563134 217.0,327.44863728670913 224.5,331.77876430563134 224.5,340.4390183434757 217.0,344.7691453623979 209.5,340.4390183434757"
  />
  <polygon id="132" points="193.5,359.7595264191645 201.0,355.4293994002423 208.5,359.7595264191645 208.5,368.41978045700887 201.0,372.7499074759311 193.5,368.41978045700887"
  />
  <polygon id="130" points="186,345.7691453623979 193.5,341.4390183434757 201,345.7691453623979 201,354.4293994002423 193.5,358.7595264191645 186,354.4293994002423"
  />
  <polygon id="093" points="122,261.82685902179844 129.5,257.49673200287623 137,261.82685902179844 137,270.4871130596428 129.5,274.817240078565 122,270.4871130596428"
  />
  <polygon id="092" points="113.5,247.83647796503186 121.0,243.50635094610968 128.5,247.83647796503186 128.5,256.49673200287623 121.0,260.82685902179844 113.5,256.49673200287623"
  />
  <polygon id="094" points="170,261.82685902179844 177.5,257.49673200287623 185,261.82685902179844 185,270.4871130596428 177.5,274.817240078565 170,270.4871130596428"
  />
  <polygon id="095" points="145.5,275.817240078565 153.0,271.4871130596428 160.5,275.817240078565 160.5,284.4774941164094 153.0,288.8076211353316 145.5,284.4774941164094"
  />
  <polygon id="097" points="170,289.8076211353316 177.5,285.4774941164094 185,289.8076211353316 185,298.46787517317597 177.5,302.7980021920982 170,298.46787517317597"
  />
  <polygon id="096" points="154,289.8076211353316 161.5,285.4774941164094 169,289.8076211353316 169,298.46787517317597 161.5,302.7980021920982 154,298.46787517317597"
  />
  <polygon id="098" points="186,289.8076211353316 193.5,285.4774941164094 201,289.8076211353316 201,298.46787517317597 193.5,302.7980021920982 186,298.46787517317597"
  />
  <polygon id="099" points="321.5,303.7980021920982 329.0,299.46787517317597 336.5,303.7980021920982 336.5,312.45825622994255 329.0,316.78838324886476 321.5,312.45825622994255"
  />
  <polygon id="101" points="266,317.78838324886476 273.5,313.45825622994255 281,317.78838324886476 281,326.44863728670913 273.5,330.77876430563134 266,326.44863728670913"
  />
  <polygon id="100" points="273.5,303.7980021920982 281.0,299.46787517317597 288.5,303.7980021920982 288.5,312.45825622994255 281.0,316.78838324886476 273.5,312.45825622994255"
  />
  <polygon id="102" points="202,317.78838324886476 209.5,313.45825622994255 217,317.78838324886476 217,326.44863728670913 209.5,330.77876430563134 202,326.44863728670913"
  />
  <polygon id="103" points="186,317.78838324886476 193.5,313.45825622994255 201,317.78838324886476 201,326.44863728670913 193.5,330.77876430563134 186,326.44863728670913"
  />
  <polygon id="104" points="193.5,331.77876430563134 201.0,327.44863728670913 208.5,331.77876430563134 208.5,340.4390183434757 201.0,344.7691453623979 193.5,340.4390183434757"
  />
  <polygon id="106" points="193.5,303.7980021920982 201.0,299.46787517317597 208.5,303.7980021920982 208.5,312.45825622994255 201.0,316.78838324886476 193.5,312.45825622994255"
  />
  <polygon id="105" points="202,289.8076211353316 209.5,285.4774941164094 217,289.8076211353316 217,298.46787517317597 209.5,302.7980021920982 202,298.46787517317597"
  />
  <polygon id="108" points="161.5,303.7980021920982 169.0,299.46787517317597 176.5,303.7980021920982 176.5,312.45825622994255 169.0,316.78838324886476 161.5,312.45825622994255"
  />
  <polygon id="107" points="138,289.8076211353316 145.5,285.4774941164094 153,289.8076211353316 153,298.46787517317597 145.5,302.7980021920982 138,298.46787517317597"
  />
  <polygon id="109" points="145.5,303.7980021920982 153.0,299.46787517317597 160.5,303.7980021920982 160.5,312.45825622994255 153.0,316.78838324886476 145.5,312.45825622994255"
  />
  <polygon id="110" points="138,317.78838324886476 145.5,313.45825622994255 153,317.78838324886476 153,326.44863728670913 145.5,330.77876430563134 138,326.44863728670913"
  />
  <polygon id="111" points="154,317.78838324886476 161.5,313.45825622994255 169,317.78838324886476 169,326.44863728670913 161.5,330.77876430563134 154,326.44863728670913"
  />
  <polygon id="112" points="161.5,331.77876430563134 169.0,327.44863728670913 176.5,331.77876430563134 176.5,340.4390183434757 169.0,344.7691453623979 161.5,340.4390183434757"
  />
  <polygon id="125" points="170,317.78838324886476 177.5,313.45825622994255 185,317.78838324886476 185,326.44863728670913 177.5,330.77876430563134 170,326.44863728670913"
  />
  <polygon id="113" points="177.5,331.77876430563134 185.0,327.44863728670913 192.5,331.77876430563134 192.5,340.4390183434757 185.0,344.7691453623979 177.5,340.4390183434757"
  />
  <polygon id="116" points="289.5,303.7980021920982 297.0,299.46787517317597 304.5,303.7980021920982 304.5,312.45825622994255 297.0,316.78838324886476 289.5,312.45825622994255"
  />
  <polygon id="117" points="225.5,303.7980021920982 233.0,299.46787517317597 240.5,303.7980021920982 240.5,312.45825622994255 233.0,316.78838324886476 225.5,312.45825622994255"
  />
  <polygon id="114" points="250,317.78838324886476 257.5,313.45825622994255 265,317.78838324886476 265,326.44863728670913 257.5,330.77876430563134 250,326.44863728670913"
  />
  <polygon id="115" points="177.5,303.7980021920982 185.0,299.46787517317597 192.5,303.7980021920982 192.5,312.45825622994255 185.0,316.78838324886476 177.5,312.45825622994255"
  />
  <polygon id="119" points="234,289.8076211353316 241.5,285.4774941164094 249,289.8076211353316 249,298.46787517317597 241.5,302.7980021920982 234,298.46787517317597"
  />
  <polygon id="118" points="257.5,303.7980021920982 265.0,299.46787517317597 272.5,303.7980021920982 272.5,312.45825622994255 265.0,316.78838324886476 257.5,312.45825622994255"
  />
  <polygon id="122" points="209.5,303.7980021920982 217.0,299.46787517317597 224.5,303.7980021920982 224.5,312.45825622994255 217.0,316.78838324886476 209.5,312.45825622994255"
  />
  <polygon id="121" points="218,317.78838324886476 225.5,313.45825622994255 233,317.78838324886476 233,326.44863728670913 225.5,330.77876430563134 218,326.44863728670913"
  />
  <polygon id="120" points="241.5,303.7980021920982 249.0,299.46787517317597 256.5,303.7980021920982 256.5,312.45825622994255 249.0,316.78838324886476 241.5,312.45825622994255"
  />
  <polygon id="123" points="250,289.8076211353316 257.5,285.4774941164094 265,289.8076211353316 265,298.46787517317597 257.5,302.7980021920982 250,298.46787517317597"
  />
  <polygon id="124" points="305.5,303.7980021920982 313.0,299.46787517317597 320.5,303.7980021920982 320.5,312.45825622994255 313.0,316.78838324886476 305.5,312.45825622994255"
  />
</svg>
